.container {
  height: 100vh;
  width: 100vw;

  display: grid;
  grid-template-columns: 280px 1fr;
  grid-template-rows: 60px 1fr;
  position: relative;
}

.sidebar {
  grid-row: 1/-1;
  grid-column: 1/2;
}

.header {
  grid-row: 1/2;
  grid-column: 2/3;
}

.component {
  grid-row: 2/3;
  grid-column: 2/3;
  overflow-y: scroll;
  margin-bottom: 20px;
}

.component::-webkit-scrollbar {
  display: none;
}

.component {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.closeSideBar,
.openSideBar {
  position: absolute;
  width: 280px;
  height: 100vh;
  z-index: 10;
}

.openSideBar {
  animation-name: openSideBar;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
}

.closeSideBar {
  z-index: 10;
  animation-name: closeSideBar;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
}

.initialClose {
  display: none;
}

@keyframes openSideBar {
  0% {
    left: -280px;
  }

  100% {
    left: 0px;
  }
}

@keyframes closeSideBar {
  0% {
    left: 0px;
  }

  100% {
    left: -280px;
  }
}
@media screen and (max-width: 800px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }

  .header {
    grid-row: 1/2;
    grid-column: 1/3;
  }

  .component {
    grid-row: 2/3;
    grid-column: 1/3;
  }
}

@media screen and (max-width: 400px) {
  .closeSideBar,
  .openSideBar {
    width: 80%;
  }

  @keyframes openSideBar {
    0% {
      left: -80%;
    }

    100% {
      left: 0%;
    }
  }

  @keyframes closeSideBar {
    0% {
      left: 0%;
    }

    100% {
      left: -80%;
    }
  }
}

@media screen and (max-width: 300px) {
  .closeSideBar,
  .openSideBar {
    width: 90%;
  }

  @keyframes openSideBar {
    0% {
      left: -90%;
    }

    100% {
      left: 0%;
    }
  }

  @keyframes closeSideBar {
    0% {
      left: 0%;
    }

    100% {
      left: -90%;
    }
  }
}
