.courseForm {
  background: #fafafa;
  padding-bottom: 30px;
  border-radius: 10px;

  min-height: 600px;
  width: 900px;

  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}

.courseForm::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.courseForm::-webkit-scrollbar-track {
  background: #f1f1f1;
  width: 10px;
  height: 15px;
}

.courseForm::-webkit-scrollbar-thumb {
  background: #2d0353;
  border-radius: 6px;
}

.universitySection {
  width: 100%;
  min-height: 150px;
  padding: 20px 0px;
  border-bottom: 0.5px solid #b4b1b1;

  display: flex;
  flex-direction: column;
  row-gap: 15px;
  align-items: center;
}

.schoolname {
  font-size: 24px;
  font-weight: 600;

  color: #2d0353;
}

.textTwo {
  font-size: 16px;
  font-weight: 500;

  color: #505050;
}

.textContainer {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
}

.studentInfo {
  margin: 0 auto;
  width: 80%;
  min-height: 140px;

  margin-top: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detailsList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 10px;

  list-style: none;
}

.detailsItem {
  display: flex;
}

.infoName {
  width: 120px;
}

.infoName,
.infoValue {
  font-size: 14px;
  font-weight: 600;

  color: #505050;
}

.registeredCourses {
  padding-top: 20px;
  padding-bottom: 50px;

  width: 80%;
  margin-right: 500px;
  background-color: white;
  border: 0.5px solid #cfcfcf;
  border-radius: 6px;

  margin: 0 auto;
}

.registeredTitle {
  font-size: 18px;
  font-weight: 600;
  color: #2d0353;

  text-align: center;
}

.registeredCoursesTitle {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 80px 120px 1fr 80px;
  border: 0.5px solid #cfcfcf;
  border-left: none;
  border-right: none;
  height: 40px;
}

.borderRight {
  border-right: 0.5px solid #cfcfcf;
}

.headerCell {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 14px;
  font-weight: 600;

  color: #505050;
}

.registeredCoursesItem {
  display: grid;
  grid-template-columns: 80px 120px 1fr 80px;
  border-bottom: 0.5px solid #cfcfcf;
  height: 40px;
}

.elementCell {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 14px;
  font-weight: normal;

  color: #505050;
}

.textColor {
  font-size: 16px;
  font-weight: 600;
  color: #df8a09;
}

.signatureContainer {
  margin-top: 20px;
  padding: 0px 30px;
  display: flex;
  justify-content: space-between;
}

.signatureNameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signatureName {
  font-size: 14px;
  font-weight: 500;
  width: 150px;
  padding-bottom: 5px;
  text-align: center;
  border-bottom: 0.5px solid #cfcfcf;
  color: #000000;
}

.signatureImage {
  padding-bottom: 5px;
}

.signatureNameLight {
  font-size: 14px;
  width: 150px;
  padding-bottom: 5px;
  text-align: center;
  color: #b4b1b1;
}

.signatureDate {
  font-size: 14px;
  font-weight: 500;
  width: 150px;
  padding-top: 5px;
  text-align: center;
  border-top: 0.5px solid #cfcfcf;
  color: #000000;
}
