.container {
  margin-top: 20px;

  min-height: 400px;
  width: 100%;

  overflow-x: scroll;

  scrollbar-width: thin;
  scrollbar-color: #2d0353 #f1f1f1;
}

.testTwo {
  height: 600px;
  min-width: 1000px;

  display: flex;
  column-gap: 20px;
}

.container::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.container::-webkit-scrollbar-track {
  background: #f1f1f1;
  width: 10px;
  height: 15px;
}

.container::-webkit-scrollbar-thumb {
  background: #2d0353;
  border-radius: 6px;
}

.red, .brown, .blue, .pink {
  width: 120px;
  height: 80px;
}

.red {
  background-color: red;
}
.blue {
  background-color: blue;
}

.pink {
  background-color: pink;
}

.brown {
  background-color: brown;
}

@media screen and (max-width: 1000px) {
  .testTwo {
    min-width: 800px;
  }
}
